.login {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    .center {
        width: 50%;
        margin: auto;
        vertical-align: middle;
        h1 {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .login .center {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .login .center {
        width: 95%;
    }
}