/*@import "help";*/
.login {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .login .center {
    width: 50%;
    margin: auto;
    vertical-align: middle; }
    .login .center h1 {
      margin-top: 0; }

@media screen and (max-width: 992px) {
  .login .center {
    width: 75%; } }

@media screen and (max-width: 600px) {
  .login .center {
    width: 95%; } }

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .app .side-nav.fixed li {
    padding: 0; }
    .app .side-nav.fixed li form {
      padding: 0 30px; }
    .app .side-nav.fixed li > span {
      color: #444;
      font-size: 1rem;
      height: 64px;
      line-height: 64px;
      padding: 0 30px;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-between; }
  .app .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 240px;
    right: 0;
    padding-top: 15px;
    overflow-y: auto; }
  .app .helplist {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 300px; }
  .app main {
    padding: 1.5em 3em; }
  .app footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px; }
  .app .collapsible-header {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none; }
  .app .chat {
    position: absolute;
    right: 0;
    width: 300px;
    padding: 1.5em;
    top: 0;
    bottom: 0; }
    .app .chat .chat-messages {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 200px;
      padding: 15px 30px 0; }
    .app .chat form {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }

form button {
  width: 100%; }

.as-text {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer; }

.bottom-aligned {
  bottom: 0;
  width: 240px;
  position: fixed; }

@media only screen and (max-width: 992px) {
  main {
    left: 0; } }

