.ChannelList {
    overflow-y: auto;
    max-height: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#HelpList {
    padding-top: 10px;
    overflow-y: auto;
    max-height: 600px;
}

a:active,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}



.list-group {
    margin-right: 6px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
}

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

        .chat li.left .chat-body {
            margin-left: 30px;
        }

        .chat li.right .chat-body {
            margin-right: 30px;
        }


        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

    .panel .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }

#chatMessageInput {
    -moz-resize: vertical;
    -ms-resize: vertical;
    -o-resize: vertical;
    resize: vertical;
    max-height: 200px;
    min-height: 2.5em;
}

.header {
    display: block;
}
