@keyframes moveUp {
    0% {
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    100% {
        -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        -o-transform: translate3d(0,100%,0);
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
}

@-moz-keyframes noHeight {
    0% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }

    100% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }
}

@-webkit-keyframes noHeight {
    0% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }

    100% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }
}

@keyframes noHeight {
    0% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }

    100% {
        -moz-transform: scale3d(0,1,0);
        -ms-transform: scale3d(0,1,0);
        -o-transform: scale3d(0,1,0);
        -webkit-transform: scale3d(0,1,0);
        transform: scale3d(0,1,0);
    }
}

@mixin animation($anim, $time) {
    -moz-animation: $anim $time;
    -o-animation: $anim $time;
    -webkit-animation: $anim $time;
    animation: $anim $time;
}

@mixin stagger($time: 0.2s) {
    &-stagger {
        -moz-animation-delay: $time;
        -o-animation-delay: $time;
        -webkit-animation-delay: $time;
        animation-delay: $time;
    }
}


.ChannelList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;

    .active {
        -moz-transition: all ease-in 0.5s;
        -o-transition: all ease-in 0.5s;
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }

    .ng-enter {
        @include animation(zoomIn, 1s);

        @include stagger();
    }

    .ng-leave {
        @include animation(zoomOut, 1s);

        @include stagger();
    }

    &.list-group {
        margin-bottom: 0;
    }
}

.wrapper {
    overflow: hidden;
    -moz-transition: height linear 0.5s;
    -o-transition: height linear 0.5s;
    -webkit-transition: height linear 0.5s;
    transition: height linear 0.5s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    display: block;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#HelpList {
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;


    .ng-enter {
        @include animation(fadeInDown, 1s);
        @include stagger();
    }

    .ng-leave {
        @include animation(fadeOutDown, 1s);
        @include stagger();
    }

    .ng-move {
        @include animation(moveUp, 1s);
    }
}

a:active,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.list-group {
    margin-right: 6px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    .ng-enter {
        @include animation(flipInX, 1s);
        @include stagger(0.1s);
    }

    .ng-leave {
        @include animation(flipOutX, 1s);
        @include stagger();
    }

    li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;

        &.left .chat-body {
            margin-left: 30px;
        }

        &.right .chat-body {
            margin-right: 30px;
        }

        .chat-body p {
            margin: 0;
            color: #777777;
        }
    }
}

.panel {

    .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }
}


#chatMessageInput {
    resize: vertical;
    max-height: 200px;
    min-height: 2.5em;
}

.header {
    display: block;
}

.astext {
    background: none;
    border: none;
    margin: 0;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

nav.navbar-nav {
    .ng-hide-add {
        @include animation(lightSpeedIn, 1s);
    }

    .ng-hide-remove {
        @include animation(lightSpeedOut, 1s);
    }
}

#editUsername {
    margin-left: 1em;
}

@media (max-width: 767px) {
    .navbar-text {
        text-align: center;

        #editUsername {
            margin-right: 4em;
        }
    }

    .navbar-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#userlistlist {
    .ng-enter {
        @include animation(slideInRight, 0.2s);
    }

    .ng-leave {
        @include animation(slideOutRight, 0.2s);
    }
}