@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Hvem behøver hjælp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    @Styles.Render("~/bundles/styling")
    @Scripts.Render("~/bundles/deps")
    <script src="/signalr/js"></script>
    <script src="/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    @Scripts.Render("~/bundles/classes")
    @Scripts.Render("~/apihelper")
    <script>
        if (window.Notification) Notification.requestPermission();
    </script>
</head>
<body ng-app="Help" ng-controller="ApiCtrl">
    <div ng-if="application.State == 'help'" class="app api">
        <div class="main">
            <div class="helplist">
                <questions></Questions>

                <ask-question></ask-Question>
            </div>
        </div>

    </div>
    <edit-question-modal></edit-Question-modal>
    <loading></loading>
    <timer></tiMer>
</body>
</html>
