
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="dk" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Hvem behøver hjælp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    @Styles.Render("~/bundles/styling")
    @Scripts.Render("~/bundles/deps")
    <script src="/signalr/js"></script>
    <script src="/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    @Scripts.Render("~/bundles/classes")
    @Scripts.Render("~/helper")
    <script>
        if (window.Notification) Notification.requestPermission();
    </script>
    <base href="/"/>
</head>
<body ng-app="Help" ng-controller="HelpCtrl">
<div ng-show="application.State == 'help'" class="app">
    <nav-bar></nav-bar>
    <div class="main">
        <div class="helplist">
            <questions></Questions>

            <ask-question></ask-Question>
        </div>

        <chat></chat>
    </div>
    <edit-question-modal></edit-Question-modal>
    <timer></timer>
</div>
<loading></loading>
<div ng-show="application.State == 'login'" class="login" login>

</div>
<div ng-show="application.State == 'usermanage'" class="user-managing" Usermanage>

</div>
</body>
</html>
