@model dynamic

@{
    ViewBag.Title = "Kodeord nulstilling ingangsat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kodeord nulstilling ingangsat</h2>
<p>Der er nu sendt en mail til dig. Følgt instruktionerne i den for at nulstille dit kodeord. </p>